*{
    margin: 0PX;
    padding: 0%;
}
   #content {
    background: brown;
    height: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-end;
    align-content: space-around;
}

.item {   
    flex: 0 2 auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 15px;
    height: 150px;
    width: 20%;
    color:white;
    background:purple;
    margin: 5px;
}
 
.flex {
display: flex;
flex-wrap: wrap;
max-width: 100px;
}


